{% extends "KevinPortfolioBundle::layout.html.twig" %}

{% block title %}
    Ajouter un profil - {{ parent() }}
{% endblock %}

{% block kevinportfolio_body %}

    <h2>Ajouter un Skill</h2>

    {{ include("KevinPortfolioBundle:Skill:form.html.twig") }}

    <p>
        <a href="{{ path('kevin_portfolio_skill_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste de skills
        </a>
    </p>
{% endblock %}