{% extends "KevinPortfolioBundle::layout.html.twig" %}

{% block title %}
    Ajouter un profil - {{ parent() }}
{% endblock %}

{% block kevinportfolio_body %}

    <h2>Ajouter un Skill</h2>

    {{ include("KevinPortfolioBundle:Skill:form.html.twig") }}

{% endblock %}