{% extends "KevinPortfolioBundle::layout.html.twig" %}

{% block kevinportfolio_body %}
    <div>
        {% for message in app.session.flashbag.get('notice') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

    <h2>Liste des skills</h2>

    <ul>
        {% for skill in skillsList %}
            <li>{{ skill.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}