{% extends "KevinPortfolioBundle::layout.html.twig" %}

{% block kevinportfolio_body %}
    <div>
        {% for message in app.session.flashbag.get('notice') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

    <h2>Liste des profils</h2>

    <ul>
        {% for profil in profilsList %}
            <li>
                {{ profil.firstname }} {{ profil.name|upper }}
                <a href="{{ path('kevin_portfolio_edit', {'id': profil.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}