{% extends "KevinCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <a href="{{ path('kevin_portfolio_add') }}">Créer mon profil</a>
{% endblock %}